/*.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.231;
}

.olvide_pwd-left p, .olvide_pwd-right p {
	font-size:75% !important;
}

.olvide_pwd-right p{ color:#4E72A6 !important;}


a{ text-decoration:none !important;}

p{ font-size:100% !important;}

.dropdown-menu .divider {
	marging: 0 0 0 0;
}
.panel-group {
	margin-top: 1px;
}
.modal-backdrop {
	z-index: 1;
}
.modal p {
	font-size: 100%;
	color: #000000;
}
.modal .btn {
	margin-left: 20px;
}
.madrid {
	padding: 0 0 10px 0;	
}
.features {
	opacity: 100;
}
.features:hover {
	opacity: 70;
}

input,
button,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  min-width: 100px;
  padding:  10px 10px 10px 10px;
  margin: 0 0px 20px 0px;
  color: 999999;
  border: 2px solid #b0b0b0;
  background: #ffffff;
}
a {
  color: #066eb6;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #ec6a3a;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 100% /* 64px */;
}
h2,
.h2 {
  font-size: 100% /* 52px */;
}
h3,
.h3 {
  font-size: 100% /* 40px */;
}
h4,
.h4 {
  font-size: 100% /* 29px */;
}
h5,
.h5 {
  font-size: 100% /* 28px */;
}
h6,
.h6 {
  font-size: 100% /* 24px */;
}
.h7 {
  font-size: 80% /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004%;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 100%;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 100%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 100%;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004%;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 100%;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}

.footer {
  background: #B1B9BC;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background: #ffffff;
}
.bg-black {
  background: #000000;
}
.bg-turquoise {
  background: #1abc9c;
}
.bg-green-sea {
  background: #16a085;
}
.bg-emerland {
  background: #2ecc71;
}
.bg-nephritis {
  background: #27ae60;
}
.bg-peter-river {
  background: #18425e;
}
.bg-belize-hole {
  background: #2980b9;
}
.bg-amethyst {
  background: #9b59b6;
}
.bg-wisteria {
  background: #8e44ad;
}
.bg-wet-asphalt {
  background: #34495e;
}
.bg-midnight-blue {
  background: #2c3e50;
}
.bg-sun-flower {
  background: #f1c40f;
}
.bg-orange {
  background: #ec6a3a;
}
.bg-carrot {
  background: #e67e22;
}
.bg-pumpkin {
  background: #35400;
}
.bg-alizarin {
  background: #e74c3c;
}
.bg-pomegranate {
  background: #c0392b;
}
.bg-clouds {
  background: #ecf0f1;
}
.bg-silver {
  background: #bdc3c7;
}
.bg-concrete {
  background: #95a5a6;
}
.bg-asbestos {
  background: #7f8c8d;
}
.bg-base {
  background: #34495e;
}
.bg-firm {
  background: #1abc9c;
}
.bg-success {
  background: #2ecc71;
}
.bg-danger {
  background: #e74c3c;
}
.bg-warning {
  background: #f1c40f;
}
.bg-info {
  background: #3498db;
}
.bg-bici{
  background: #fbFbFb;
  border-top: 2px dotted #ffffff;

}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}

li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn.btn-large {
  font-size: 100%;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 100%;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-wrapper,
.header-antiflicker,
body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.nav-visible .page-wrapper,
.nav-visible .navbar.navbar-fixed-top,
.nav-visible .header-antiflicker,
.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.no-csstransitions .page-wrapper,
.no-csstransitions .header-antiflicker {
  left: 0;
}
.no-csstransitions.nav-visible .page-wrapper,
.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
.footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #34495e;
  line-height: 1.6em;
}
h7 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D1D1D1;
  letter-spacing: 1px;
  font-size: 80%;
  line-height: 18px;
  font-weight: 300;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 85%;
  font-weight: normal;
  color: #7f8c8d;
}

input[type="checkbox"]{
  font-size: 85%;
  margin: 4px 20px 0 0;
  line-height: normal;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar {
	left: -6px;
	right: 0;
}
.logo {
	text-align:center;
	vertical-align: middle;
}
.logo img {
	padding: 16px 0 0 0;
	max-width:200px;
}
.logo2 img {
	padding: 8px 0 0 0;
	max-width:160px;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  align-content:center;
  text-align:center;
/*  float: left;*/
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../../common-files/icons/menu-icon.png") 50% no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 100%;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  max-width: 1170px;
  margin: 0 auto;
}

.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}

body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 100%;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 100%;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
/*  padding-bottom: 70px;*/
  z-index: 100;
}
header .brand {
  font-size: 100%;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.container {
	/*min-width: 960px !important;*/
	position: relative;
	z-index: 2;
}
.divider-section-big {
	margin-top: 300px;	
}
.divider-section {
	margin-top: 140px;	
}
.divider-section-small {
	margin-top: 70px;	
}
/* header */
/**
 * Header 1 stylesheet  
 * */
.header-1 {
  max-height: 100px;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: #2174b7;
}
.header-1 > .container {
  position: relative;
}
.header-1 .navbar {
  position: relative;
  z-index: 2;
  top: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.header-1 .navbar.navbar-fixed-top {
  position: fixed;
}

.header-1 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-1 .navbar .nav > li {
  margin-left: 26px;
}
.header-1 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-1 .navbar .nav > li > a {
  font-size: 100%;
  padding: 10px 0 10px;
  font-weight: bold;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-1 .navbar .nav > li > a:hover,
.header-1 .navbar .nav > li > a:focus,
.header-1 .navbar .nav > li > a.active {
  color: rgba(236, 106, 58, 0.9);
}
.header-1 .navbar .nav > li.active > a {
  color: rgba(236, 106, 58, 0.9);
}
.header-1 .navbar .nav > li.active > a:hover,
.header-1 .navbar .nav > li.active > a:focus,
.header-1 .navbar .nav > li.active > a.active {
  color: rgba(236, 106, 58, 0.9);
}
.header-1-sub {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 850px;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
}
.header-1-sub .container {
  position: relative;
}

.header-1-sub2 {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0;
  overflow: hidden;
/*  background: black;*/
  color: white;
}
.header-1-sub2b {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  overflow: hidden;
  color: white;
}
.navbar .naranja > li > a {
  padding: 35px 0 27px;
  font-size: 100%;
  font-weight: bold;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
}
.navbar .naranja > li > a:hover,
.navbar .naranja > li > a:focus,
.navbar .naranja > li > a.active {
  color: rgba(52, 73, 94, 0.9);
}
.navbar .naranja > li.active > a {
  color: rgba(52, 73, 94, 0.9);
}
.navbar .naranja > li.active > a:hover,
.navbar .naranja > li.active > a:focus,
.navbar .naranja > li.active > a.active {
  color: rgba(52, 73, 94, 0.9);
}

.header-1-sub2 .container {
  position: relative;
}

.header-1-sub h3 {
  margin: 0 0 8px 0;
  font-size: 100%;
  line-height: 54px;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 2px 2px 9px #000;
}
.header-1-sub .lead {
  font-size: 100%;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-shadow: 2px 2px 3px #000;
}
.header-1-sub .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.header-1-sub .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.header-1-sub .pt-page-current,
.header-1-sub .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.header-1-sub .pt-page-ontop {
  z-index: 999;
}
/*.header-1-sub .page-transitions * {
  line-height: normal;
}*/
.header-1-sub .page-transitions .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.header-1-sub .page-transitions .caption {
 /* background: rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 200px;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.header-1-sub .page-transitions .controls > * {
	position: absolute;
	left: 14px;
	top: 574px;
	z-index: 1000;
	width: 40px;
	overflow: hidden;
	text-decoration: none;
	font-size: 100%;
	color: #7f8c8d;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	-webkit-transition: color 0.25s;
	-moz-transition: color 0.25s;
	-o-transition: color 0.25s;
	transition: color 0.25s;
}
.header-1-sub .page-transitions .controls > *:hover,
.header-1-sub .page-transitions .controls > *:focus,
.header-1-sub .page-transitions .controls > *.active {
  color: rgba(236, 106, 58, 0.9);
}

.header-1-sub .page-transitions .controls > *.control-next {
  left: 65px;
}
.header-1-sub .pt-page-1 .background {
  background: url('../img/bonopark_1.jpg');
  opacity: 100;
  filter: alpha(opacity=5000);
  opacity: 1;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-2 .background {
  background: url('../img/bonopark_2.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-3 .background {
  background: url('../img/bonopark_3.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-4 .background {
  background: url('../img/bonopark_4.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1 .navbar-nav .dropdown-toggle .caret {
  border-top-color: #dadada;
  border-bottom-color: #dadada;
  border-width: 8px 6px 0;
  margin: 0 0 6px 6px;
  font-size: 100%;
}
.header-1 .navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover {
  background: transparent;
}
.header-1 .navbar-nav > li > a:hover .caret,
.navbar-nav > li > a:focus .caret,
.navbar-nav .open > a:focus .caret,
.navbar-nav .open > a:hover .caret {
  border-top-color: #ec6a3a;
  border-bottom-color: #ec6a3a;
}
.header-1 .caret {
  brder-top-color: #0066eb6;
  border-bottom-color: #0066eb6;
  font-size: 100%;
}
.dropdown-menu .divider {
	marging: 0 0 0 0;
}
.header-1 .dropdown-menu {
  background: #A8AFB3;
  left: 0;
  border: none;
  display: block;
  margin-top: 8px;
  opacity: 0;
  margin-left: -30px;
  visibility: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-1 .open > .dropdown-menu {
  margin-top: 0px !important;
  opacity: 1;
  visibility: visible;
}
.navbar-nav > li > .dropdown-menu {
	min-width: 200px;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
}
.header-1 .dropdown-menu li:first-child dt + a {
  border-radius: 0;
}
.header-1 .dropdown-menu li:first-child > a {
  border-radius: 6px 6px 0 0;
  padding-top: 12px;
}
.header-1 .dropdown-menu li:last-child > a {
  border-radius: 0 0 6px 6px;
  padding-bottom: 10px;
}
.header-1 .dropdown-menu li.active > a,
.dropdown-menu li.selected > a,
.dropdown-menu li.active > a.highlighted,
.dropdown-menu li.selected > a.highlighted {
  background: #5F6E75;
  color: #ffffff;
}
.header-1 .dropdown-menu li.active > a:hover,
.dropdown-menu li.selected > a:hover,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.selected > a:focus,
.dropdown-menu li.active > a.highlighted:focus,
.dropdown-menu li.selected > a.highlighted:focus {
  background: #16a085;
  color: #ffffff;
}
.header-1 .dropdown-menu li > a {
  font-weight: 500;
  color: #ffffff;
  padding: 9px 15px 8px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.header-1 .dropdown-menu li > a:hover,
.header-1 .dropdown-menu li.active > a:hover,
.dropdown-menu li.selected > a:hover,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.selected > a:focus,
.dropdown-menu li.active > a.highlighted:focus,
.dropdown-menu li.selected > a.highlighted:focus {
  background: #066eb6;
  color: #ffffff;
}
.header-1 .dropdown-menu .divider {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #e5e5e5;
}
/**
 * Content 26 stylesheet  
 * */
.content-26 {
  position: relative;
  padding-top: 0px;
  padding-bottom: 54px;
  text-align: center;
}
.content-26 .lead {
  font-size: 100%;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
.content-26 h3 {
  font-size: 100%;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 26px;
}
.content-26 h4 {
  font-size: 100%;
  line-height: 20px;
  color: #ec6a3a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.content-26 h4:hover,
.content-26 h4:focus {
  opacity: 60;
  filter: alpha(opacity=6000);
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.content-26 .features h6 {
  text-transform: none;
  margin-top: 37px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 100%;
}
.content-26 .features > * {
/*  margin-top: 67px;*/
  margin-bottom: 50px;
}
.content-26 .features a {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-26 .features a:hover,
.content-26 .features a:focus {
  opacity: 60;
  filter: alpha(opacity=6000);
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.content-27 {
  position: relative;
  padding: 120px 0;
}

.logos {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 2px dotted #18425e;
}

.logos > .container {
  display: table;
}
.logos > .container > div {
  display: table-cell;
  text-align: center;
}



/* footer */
/**
 * Footer 6 stylesheet  
 * */
.footer-6 {
  padding-top: 110px;
  padding-bottom: 110px;
  color: #7f8c8d;
}
.footer-6 a {
  font-weight: normal;
}

.footer-6 .brand {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 100%;
  font-weight: normal;
  color: #0D4D78;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 1px;
}
.footer-6 .brand:hover,
.footer-6 .brand:focus {
  color: #ffffff;
}
.footer-6 h6 {
	padding-top: 18px;
  font-size: 90%;
  font-weight: 500;
  color: #0D4D78;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.footer-6 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 90%;
  line-height: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-6 nav ul li {
  margin-bottom: 8px;
}
.footer-6 nav ul li a {
  color: #ffffff;
}
.footer-6 nav ul li a:hover,
.footer-6 nav ul li a:focus {
  color: #34495e;
}

.footer-6 .input-group {
  margin-bottom: 20px;
}
.footer-6 .input-group input[type="text"] {
  width: 167px;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  -o-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}


.footer-6 .input-group input[type="text"]:hover {
  border-color: #cacfd2;
}
.footer-6 .input-group input[type="text"]:focus {
  border-color: #1abc9c;
}
.footer-6 .social-btns {
  white-space: nowrap;
}
.footer-6 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 90%;
  font-weight: normal;
  color: #ffffff;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}

.footer-6 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-6 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-6 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-6 .social-btns > *:hover > * {
  top: -100%;
}
.footer-6 .social-btns .fui-twitter:first-child {
  margin-top: 2px;
}

.content-4,
.footer-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* footer */
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  background:#B1B9BC;
  color: #ffffff;
  line-height: 25px;
  border-top: 2px dotted #999999;
}
.footer-2 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #34495e;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 90%;
  font-weight: normal;
  color: #ffffff;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 100%;
  font-weight: normal;
  color: #ffffff;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-2 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-2 .social-btns > * > *:first-child {
  color: #ffffff;
}
.footer-2 .social-btns > *:hover > * {
  top: -100%;
}
.footer-2 .additional-links {
  font-size: 90%;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
}

.footer-2 .additional-links a {
  text-decoration: underline;
}


/**
 * Content 15 stylesheet 
 ((((((((((  QUE ES 1 )))))))))))))) 
 * */
.content-15 li {
	font-size: 100%;
	line-height: 28px;
	padding-bottom: 10px;
	color:#7f8c8d;
}
.content-15 a {
	text-decoration: underline;
}
.content-15 {
  padding-top: 0;
  padding-bottom: 20px;
  position: relative;
}
.content-15 h5 {
  margin-bottom: 16px;
  padding-left: 0px;
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  text-align: left;
}
.content-15 h6, .content-15 .h6 {
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 140%;
  font-weight: 300;
  letter-spacing: 1px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 35px;
  text-align: left;
}
.content-15 h3 {
  margin-bottom: 12px;
  margin-left: 10px;
  font-size: 140%;
  color: #066eb6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}

.content-15 h4 {
  margin-top: 34px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.content-15 p {
  font-weight: normal;
  line-height: 32px;
  color: #7f8c8d;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}
.content-15 .features {
  margin-top: 60px;
}
.content-15 .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15 .features h6:first-child {
  margin-top: auto;
}

.content-15 .features p {
  font-weight: normal;
  color: #7f8c8d;
  font-size:90%;
}
.content-15 .features .col-sm-7 img {
  width: 100%;
}


/**
 * Blog 3 stylesheet 
((((((((((  QUE ES 2 )))))))))))))) 
 * */
.blog-3 {
  padding-top: 70px;
  padding-bottom: 40px;
}
.blog-3 p {
  margin: 0;
}
.blog-3 p + p {
  margin-top: 10px;
}
.blog-3 h6 {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 26px 0 10px;
  text-transform: none;
}
.blog-3 .title {
  margin-bottom: 84px;
  text-align: center;
}


.blog-3 h3 {
   margin-bottom: 28px;
  font-size: 140%;
  font-weight: normal;
  color: #066eb6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}

.blog-3 .title .submitted {
  font-size: 90%;
  color: #bdc3c7;
  margin-top: 15px;
}
.blog-3 .title img {
  display: block;
  margin: 0 auto 37px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.blog-3 .img {
  height: 380px;
  margin: 110px 0;
  background: url('../../../common-files/img/Brazil_002.png') 50% 80% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog-3 .quote {
  position: relative;
  margin-bottom: 35px;
  font-size: 37px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  letter-spacing: -1px;
  font-weight: 300;
}
.blog-3 .quote:before {
  content: url('../../../common-files/icons/quote-up.png');
  position: absolute;
  top: -17px;
  left: -40px;
}

.blog-3 .promo {
  margin-bottom: 70px;
}
.blog-3 .links {
  margin-top: 76px;
}
.blog-3 .links,
.blog-3 .links * {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bdc3c7;
}
.blog-3 .links h6 {
  margin: 0 0 23px;
  letter-spacing: 0.19em;
  font-size: 12px;
  font-weight: 500;
}
.blog-3 .links a {
  color: #1abc9c;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.5;
}
.blog-3 .links a:hover,
.blog-3 .links a:focus,
.blog-3 .links a.active {
  color: #15967d;
}

/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  line-height: 25px;
}
.footer-2 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #34495e;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 300;
  color: #ffffff;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}

/**
 * Project 2 stylesheet  
 * */
.projects-2 {
  background: #000;
  color: #fff;
}
.projects-2.v-center,
.projects-2 .v-center {
  display: table;
  width: 100%;
}
.projects-2.v-center > div,
.projects-2 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}

.projects-2 .content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
}
.projects-2 .wide-text {
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  display: block;
  margin: 18px 0 0;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  ffont-weight: 500;
}

.projects-2 .hero-unit {
  display: table;
  border-collapse: collapse;
  padding: 0;
  margin: 0 auto;
  background: transparent;
}
.projects-2 .hero-unit > * {
  display: table-cell;
  vertical-align: middle;
  border: 8px solid #fff;
  padding: 28px 30px;
  text-align: left;
}
.projects-2 .hero-unit h1 {
  margin: 0;
  font-size: 46px;
  font-weight: 700;
}
.projects-2 .hero-unit p {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}

.projects-2 > * {
  height: 215px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
  opacity: 15;
  filter: alpha(opacity=1500);
  opacity: 0.15;
  filter: alpha(opacity=15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.projects-2 > *:hover {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.projects-2 .project-1 {
  background: url('../img/bonopark_2.jpg');
}
.projects-2 .project-1 .container h1 {
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0px;
  margin-bottom: 12px;
  margin-top: 10px;
}
.projects-2 .project-1 .container p {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  padding-top: 0;
  margin-bottom: 10px;
  line-height: 29.999999999999996px;
}

.projects-2 .project-2 {
  background: url('../img/bonopark_3.jpg');
}

.projects-2 .project-3 {
  background: url('../../../common-files/img/NY_002.png');
}
.projects-2 .project-3 [class*="fui-"] {
  font-size: 95px;
  line-height: 95px;
}
/**
 * Price 2 stylesheet  
 * */
.price-2 form .btn {
  margin: 10px 10px 10px 10px;
  padding: 14px 10px 14px 10px;
  min-width: 340px;
  letter-spacing: 1px;
  font-size: 20px;
  width: 100px;
}
.price-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.price-2 form .btn.btn-primary{
  background: #066eb6;
}
.price-2 form .btn.btn-primary:hover,
.price-2 form .btn.btn-primary:focus {
  background: #ec6a3a;
}
.price-2 form .btn.btn-primary:active,
.price-2 form .btn.btn-primary.active {
  background: #ec6a3a;
}
.price-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.price-2 .plans {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #e5e5e5;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 45px;
}
.price-2 .plans .plan {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
.price-2 .plans .plan .ribbon {
  position: absolute;
  right: -1px;
  top: 47px;
  z-index: 2;
}

.price-2 .plans .title {
  padding: 40px 0 40px;
  background: #34495e;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative;
}
.price-2 .plans .title2 {
  padding: 40px 0 40px 0;
  background: #34495e;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative;
}
.price-2 .plans .title .price {
  margin: 10px 0 13px;
  font-size: 100px;
  font-weight: 500;
}
.price-2 .plans .title .price .currency {
  font-size: 24px;
  vertical-align: top;
  position: relative;
  font-weight: 400;
  top: 26px;
  left: -10px;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .price .period {
  font-size: 12px;
  vertical-align: bottom;
  position: relative;
  top: -27px;
  left: 10px;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .btn.btn-clear {
  padding: 6px 12px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  background: transparent;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: 500;
}
.price-2 .plans .title .btn.btn-clear:hover,
.price-2 .plans .title .btn.btn-clear:focus {
  border-color: #fff;
  color: #fff;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.price-2 .plans .title .btn.btn-clear:active,
.price-2 .plans .title .btn.btn-clear.active {
  border-color: #fff;
  color: #fff;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.price-2 .plans .plan:first-child .title {
  margin-left: -3px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.price-2 .plans .plan:last-child .title {
  margin-right: -3px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.price-2 .plans .description {
  padding: 27px 40px;
  font-size: 100%;
  background: #ffffff;
}
.price-2 .plans .description b {
  color: #ec6a3a;
  font-weight: 500;
  background: #ffffff;
}
.price-2 .plans .description .description-box {
  text-align: right;
  padding: 13px 0;
  border-top: 2px solid #ebedee;
   background: #ffffff;
}
.price-2 .plans .description .description-box2 {
  text-align: center;
  padding: 13px 0;
  border-top: 2px solid #ebedee;
   background: #ffffff;
}
.price-2 .plans .description .description-box:first-child {
  border-top: 0;
}
.price-2 .plans .description .description-box [class*="fui-"] {
  margin-right: 18px;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(52, 73, 94, 0.2);
}
.price-2 .plans .plan-2 {
  border-left: 2px solid #e5e5e5;
/*  border-right: 2px solid #e5e5e5;
*/}
.price-2 .plans .plan-2 .title {
  margin: 0 -2px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  z-index: 3;
}

/**
 * Content 15 stylesheet 
 ((((((((((  QUE ES 1 )))))))))))))) 
 * */
 
.content-15b {
  padding-top: 65px;
  padding-bottom: 50px;
  position: relative;
  background: #ecf0f1;
}
.content-15b h3 {
  margin-bottom: 12px;
  margin-left: 10px;
  font-size: 38px;
  line-height: 50px;
  color: #066eb6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  
  text-align: left;
}
.content-15b h4 {
  margin-bottom: 48px;
  font-size: 46px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 50px;
  text-align: left;
}

.content-15b p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 20px;
}
.content-15b .features {
  margin-top: 60px;
}
.content-15b .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-size: 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15b .features h6:first-child {
  margin-top: auto;
}

.content-15b .features p {
  font-weight: normal;
  color: #7f8c8d;
}
.content-15b .features .col-sm-7 img {
  width: 100%;
}

.content-15 h6 {
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 35px;
  text-align: left;
}
.content-15b h6 {
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 110%;
  font-weight: 300;
  letter-spacing: 1px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 35px;
  text-align: left;
}
.content-15b li {
  padding-bottom: 5px;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 100%;
  line-height: 24px;
  font-weight: 300;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}
.content-15b h5 {
  margin-bottom: 20px;
  padding-left: 10px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 35px;
  text-align: left;
}
.content-15b .link-big {
  padding-top: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 35px;
  text-align: left;
  text-decoration: underline;
}
/**
 * Copntact 5 stylesheet  
 * */
.box-red { 
 padding: 30px 20px 30px 20px;
 background: #dc2052;
 color: #ffffff;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 500;
 font-size: 90%;
 text-align: center;
 letter-spacing: 1px;
}
.box-red-icon { 
 font-size: 130%;
}
.box-green { 
 padding: 30px 20px 30px 20px;
 background: #31c342;
 color: #ffffff;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 500;
 font-size: 90%;
 text-align: center;
 letter-spacing: 1px;
}
.box-gray { 
 padding: 30px 20px 30px 20px;
 background: #bbbbbe;
 color: #ffffff;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 500;
 font-size: 90%;
 text-align: center;
 letter-spacing: 1px;
}
.contacts-5 {
  padding-bottom: 10px;
}
.contacts-5 h6 {
  font-size: 18px;
  text-transform: none;
}
.contacts-5 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-5 a {
  color: #066eb6;
}
.contacts-5 a:hover,
.contacts-5 a:focus,
.contacts-5 a.active {
  color: #15967d;
}
.contacts-5 .map {
  height: 300px;
  margin-bottom: 10px;
}

body .delimiter-big {
  margin-top: 110px;
}

/**
 * Copntact 3 stylesheet  
 * */
.contacts-3 form .radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  color: #34495e;
  line-height: 1.6em;
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: none;
}
.contacts-3 .radio .input {
  outline: none !important;
  display: none;
}
.contacts-3 .radio{
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.contacts-3 .checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.contacts-3 .checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.contacts-3 {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #ecf0f1;
}
.contacts-3 h3 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 300px;
}
.contacts-3 h6,
.contacts-3 .h6 {
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}
.contacts-3 label.h6 {
  margin-bottom: 0px;
}
.contacts-3 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-3 a {
  color: #066eb6;
  margin-bottom: 20px;}
.contacts-3 a:hover,
.contacts-3 a:focus,
.contacts-3 a.active {
  color: #ec6a3a;
}
.contacts-3 form {
  margin: 30px 0 0;
}

.btn-primary{ color:#ffffff !important;}

.contacts-3 form input,
.contacts-3 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 0px;
  border-color: #b0b0b0b0;
  color: #7f8c8d;
}
.contacts-3 form input:focus,
.contacts-3 form textarea:focus {
  border-color: #066eb6;
}
.contacts-3 form input {
  height: 36px;
}
.contacts-3 form label {
  margin-bottom: 0px;
  margin-top: 10px;
}
.contacts-3 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-3 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-3 form .btn.btn-primary{
  background: #066eb6;
}
.contacts-3 form .btn.btn-primary:hover,
.contacts-3 form .btn.btn-primary:focus {
  background: #ec6a3a;
}
.contacts-3 form .btn.btn-primary:active,
.contacts-3 form .btn.btn-primary.active {
  background: #ec6a3a;
}
.contacts-3 .map {
  height: 255px;
  margin: 35px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-3 .links {
  margin: 20px 0 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ebedee;
}
.contacts-3 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-3 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}

.contacts-3 li a {
	font-size: 100%;
	line-height: 32px;
	color: #066eb6;	
}
.contacts-3 li a:hover,
.contacts-3 li a:focus, {
	color: #ec6a3a;	
}
/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 80px;
  padding-bottom: 260px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 0;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 10px;
}

.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 100%;
  text-transform: none;
  color: #34495e;
}
.contacts-2 label.h6 {
  margin-bottom: 2px;
}
.contacts-2 p {
  font-size: 100%;
  line-height: 1.6;
}
.contacts-2 a {
  color: #34495e;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #ffffff;
}
.contacts-2 form {
  margin: 0;
  padding: 46px;
  border: 2px solid #dfdfdfd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ecf0f1;
}
.contacts-2b form {
  margin: 0;
  padding: 46px;
  border: 2px solid #999999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #999999;
}
.contacts-2 form input,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #dfdfdfd;
  color: #7f8c8d;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #666666;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 40px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 250px;
  background: #066eb6;
  color: #ffffff;
  letter-spacing: 1px;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background: #ec6a3a;;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background: #ec6a3a;;
}
.contacts-2 .map {
  height: 165px;
  margin: 25px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}

/**
 * Header 6 stylesheet  
 * */
.header-6 {
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0;
  display:block;
  position:relative;
  background: #b1b9bc !important;

}
.header-6 .dropdown-menu {
  left: -28px;
}
.header-6 .navbar {
	position: absolute;
	z-index: 2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 0px;
}
.header-6 .navbar.navbar-fixed-top {
  position: fixed;
  margin-top: 28px;
}
.loaded .header-6 .navbar {
  top: 90px;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.header-6 .navbar .brand {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 0 !important;
  font-size: 70%;
  font-weight: normal;
  color: #ffffff;
  font-weight: 800;
}
.header-6 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-6 .navbar .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 7px;
  right: 15px;
  z-index: 2;
}
.header-6 .navbar .flags {
  position: relative;
  display:table;
  float: left;
  top: 7px;
  left:: 15px;
  z-index: 2;
}

.header-6 .navbar .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 70%;
  font-weight: normal;
  color: #cccccc;
  width: 16px;
  height: 19px;
  overflow: hidden;
  text-align: center;
}
.header-6 .navbar .social-btns > *:first-child {
  margin-left: 0;
}
.header-6 .navbar .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.header-6 .navbar .social-btns > * > *:first-child {
  color: white;
}
.header-6 .navbar .social-btns > *:hover > * {
  top: -100%;
}

.header-6 .navbar .nav {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: visible;
    text-align: center;
  }
.header-6 .navbar .nav > li {
   float: none;
   display: inline-block;
   padding: 0 10px 9px;
   border-left: 1px solid #ccc;
  }
.header-6 .navbar .nav > li:last-child {
   border-right: 1px solid #ccc;
}
.header-6 .navbar .nav > li > a {
  padding: 12px 0 0;
  font-size: 70%;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  display: inline-block;
}
.header-6 .navbar .nav > li > a:hover,
.header-6 .navbar .nav > li > a:focus,
.header-6 .navbar .nav > li > a.active {
  color: #34495e;
}
.header-6 .navbar .nav > li.active > a {
  color: #34495e;
}
.header-6 .navbar .nav > li.active > a:hover,
.header-6 .navbar .nav > li.active > a:focus,
.header-6 .navbar .nav > li.active > a.active {
  color: #34495e;
}
.header-6 .navbar .navbar-toggle {
  float: none;
  margin: 4px auto 0;
  display: block;
}


.header-6-sub {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #192735;
  overflow: hidden;
  color: #bdc3c7;
  text-align: center;
}
.header-6-sub2 {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 20px;
  background: #b1b9bc;
  overflow: hidden;
  color: #bdc3c7;
  text-align: center;
}

.header-6-sub h3 {
  font-size: 35px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 26px;
  font-weight: 300;
}
.header-6-sub .row {
  position: relative;
  z-index: 51;
}
.header-6-sub .lead {
  font-size: 24px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-6-sub .container > .row:first-child {
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-6-sub .container > .row:first-child {
  -webkit-transition: 1.2s opacity;
  -moz-transition: 1.2s opacity;
  -o-transition: 1.2s opacity;
  transition: 1.2s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-6-sub .container > .row + .row {
  position: relative;
  bottom: -180px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-6-sub .container > .row + .row {
  -webkit-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  -moz-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  -o-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  bottom: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.header-6-sub .player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 150px;
  margin: 20px auto 180px;
  border: 4px solid #fff;
}
.header-6-sub .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  height: 46px;
  margin: -23px 0 0 -23px;
  padding-left: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
}
.header-6-sub .player > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.header-6-sub .background {
  background: center url("../img/bicis.jpg");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bicis.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bicis.jpg', sizingMethod='scale')";
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.background-mapa {
  background: center url("../img/mapa72ppi.jpg");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mapa72ppi.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mapa72ppi.jpg', sizingMethod='scale')";
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-6-sub .background2 {
  background: #000000;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-6-madrid {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  padding-top: 280px;
  padding-bottom: 100px;
  background: #192735;
  overflow: hidden;
  color: #bdc3c7;
  text-align: center;
}
.header-6-madrid .background {
  background: url("../img/madrid_dawn.jpg") center;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.header-6-sub .signup-form form {
  margin: 0 auto;
  padding: 17px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: white;
}
.header-6-sub .signup-form form .form-control,
.header-6-sub .signup-form form button {
  float: left;
  width: 23.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 2%;
  font-size: 17px;
  font-weight: 500;
}

.header-6-sub .signup-form form .form-control:first-child,
.header-6-sub .signup-form form button:first-child {
  margin: 0;
}
.header-6-sub .signup-form form .form-control {
  border-color: #dee1e3;
  font-weight: 500;
  color: #34495e;
}
.header-6-sub .signup-form form .form-control:-moz-placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control::-moz-placeholder {
  color: #34495e;
  opacity: 1;
}
.header-6-sub .signup-form form .form-control:-ms-input-placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control::-webkit-input-placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control.placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control:focus {
  border-color: #1abc9c;
}
.header-6-sub .signup-form form button {
  width: 23.5%;
  margin-left: 2%;
}
.header-antiflicker {
  opacity: 0;
  filter: alpha(opacity=0);
}
.black-back {
	background: #000000; 
	
}

#checkcondiciones {
	background: none repeat scroll 0 0 #555555;
	border-radius: 3px;
	height: 10px;
	min-width: 0;
	position: relative;
	width: 15px;
}

#checkmenores {
	background: none repeat scroll 0 0 #555555;
	border-radius: 3px;
	height: 10px;
	min-width: 0;
	position: relative;
	width: 15px;
}

#checkConsorcio {
	background: none repeat scroll 0 0 #555555;
	border-radius: 3px;
	height: 10px;
	margin: 20px 80px;
	position: relative;
	width: 20px;
}

#checkConsorcio label {
	background: none repeat scroll 0 0 #CCCCCC;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 16px;
	left: -3px;
	position: absolute;
	top: -3px;
	transition: all 0.5s ease 0s;
	width: 16px;
}

/* .toggle-box-abono+label:before {
	content: "El importe del abono anual es de 25€. Si dispone de tarjeta del transporte público del Consorcio de Transportes de Madrid, el importe es de 15€. En este caso, marque la casilla e introduzca los 22 dígitos de la tarjeta trasporte sin espacios.";
} */

#checkTutor label {
	background: none repeat scroll 0 0 #CCCCCC;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 16px;
	left: -3px;
	position: absolute;
	top: -3px;
	transition: all 0.5s ease 0s;
	width: 16px;
}

.toggle-box-tutor+label:before {
	content: "Si tienes entre 14 y 16 aÒos";
}

.toggle-box+label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	line-height: 21px;
	margin-bottom: 5px;
}

.toggle-box:checked+label+div {
	display: block;
}

.toggle-box+label+div {
	display: none;
	margin-bottom: 10px;
}

.map {
	margin-bottom: 50px;
	height: 450px;
}

.detailsBox {
	background: url("images/details-box-bg.png") repeat-x scroll 0 0 #EEEEEE;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 7px;
	position: relative;
}

.mapaRecorrido {
	border: 1px solid #C8C8C8;
	height: 40em;
	margin: auto;
	width: 40em;
}

.errorblock {
	color: #ff0000;
	background: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.olvide_pwd-right {
	float: right;
}

.olvide_pwd-right p {
	font-size:85% !important;
}

.olvide_pwd-left {
	float: left;
}

.fecha_nacimiento{
	background: #FFF;
} 

p img{ width:100%; height:auto;}

.col-xs-4 h5{ font-size:140%;}
.col-xs-2 ul{ padding-left:0 !important;}
.col-xs-2 ul li{ list-style:none !important;}
.col-xs-2 ul li a{ text-decoration:none !important; color:#fff !important; font-size:90% !important; padding-left:0 !important; margin-left:0 !important;}

.col-xs-left{ margin-left:25%;}

.desplegable{ display:none;}
.select-option{ width:60% !important; height:60px !important; color:#222; font-family:"Arial"; font-size:100% !important;}
label{ font-weight:bold !important; color:#444 !important;}


@media (max-width: 1000px) {
	.header-6 .navbar{ display:none;}
	.desplegable{ display:block;}

}


@media (max-width: 600px) {
	
	.select-option{ width:90% !important; height:60px !important;}

	.price-2 .plans .plan {
		  display: block;
		  width: 100%;
		  text-align: center;
	}

	.col-xs-offset-2{ margin-left:0;}
	.col-xs-left{ margin-left:0;}
	
	.header-6-sub {
	  padding-top: 140px;
	  padding-bottom: 50px; 
	}
	
	.logo img {
		padding: 26px 0 0 0;
	}
	.logo2 img {
		padding: 19px 0 0 0;
	}
	
	.col-xs-3, .col-xs-5{ width:50% !important;}
	.col-xs-3 img{ width:100%; height:auto;} 
	.col-xs-5 img{width:100%; height:auto;}
	
	.col-xs-offset-2{ margin-left:0 !important;}
	.col-xs-8{ width:100% !important;}

}


