.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #066eb6;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h7 {
  font-size: 16px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: #ec6a3a;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #34495e;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #ec6a3a;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-wrapper,
.header-antiflicker,
body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.nav-visible .page-wrapper,
.nav-visible .navbar.navbar-fixed-top,
.nav-visible .header-antiflicker,
.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.no-csstransitions .page-wrapper,
.no-csstransitions .header-antiflicker {
  left: 0;
}
.no-csstransitions.nav-visible .page-wrapper,
.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #34495e;
  line-height: 1.6em;
}
h7 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../../common-files/icons/menu-icon.png") 50% no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  max-width: 1170px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* header */
/**
 * Header 1 stylesheet  
 * */
.header-1 {
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-1 > .container {
  position: relative;
}
.header-1 .navbar {
  position: absolute;
  z-index: 2;
  top: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.header-1 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-1 .navbar .brand {
  font-size: 27px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.header-1 .navbar .brand:hover,
.header-1 .navbar .brand:focus,
.header-1 .navbar .brand.active {
  color: #ffffff;
}
.header-1 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-1 .navbar .nav > li {
  margin-left: 20px;
}
.header-1 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-1 .navbar .nav > li > a {
  padding: 35px 0 27px;
  font-size: 12px;
  font-weight: bold;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
}
.header-1 .navbar .nav > li > a:hover,
.header-1 .navbar .nav > li > a:focus,
.header-1 .navbar .nav > li > a.active {
  color: rgba(236, 106, 58, 0.9);
}
.header-1 .navbar .nav > li.active > a {
  color: rgba(236, 106, 58, 0.9);
}
.header-1 .navbar .nav > li.active > a:hover,
.header-1 .navbar .nav > li.active > a:focus,
.header-1 .navbar .nav > li.active > a.active {
  color: rgba(236, 106, 58, 0.9);
}
.header-1-sub {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 700px;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
}
@media (max-width: 480px) {
  .header-1-sub {
    height: 420px;
  }
}
.header-1-sub .container {
  position: relative;
}
@media (max-width: 767px) {
  .header-1-sub .container {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.header-1-sub2 {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0;
  overflow: hidden;
/*  background: black;*/
  color: white;
}
.header-1-sub2b {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  overflow: hidden;
  color: white;
}
.navbar .naranja > li > a {
  padding: 35px 0 27px;
  font-size: 12px;
  font-weight: bold;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
}
.navbar .naranja > li > a:hover,
.navbar .naranja > li > a:focus,
.navbar .naranja > li > a.active {
  color: rgba(52, 73, 94, 0.9);
}
.navbar .naranja > li.active > a {
  color: rgba(52, 73, 94, 0.9);
}
.navbar .naranja > li.active > a:hover,
.navbar .naranja > li.active > a:focus,
.navbar .naranja > li.active > a.active {
  color: rgba(52, 73, 94, 0.9);
}
@media (max-width: 480px) {
  .header-1-sub2 {
    height: 420px;
  }
}
.header-1-sub2 .container {
  position: relative;
}
@media (max-width: 767px) {
  .header-1-sub2 .container {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.header-1-sub h3 {
  margin: 0 0 18px 0;
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 3px #000;
}
@media (max-width: 600px) {
  .header-1-sub h3 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
	text-shadow: 2px 2px 3px #000;
  }
}
@media (max-width: 480px) {
  .header-1-sub h3 {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 24px 0;
	text-shadow: 2px 2px 3px #000;
  }
}
.header-1-sub .lead {
  font-size: 26px;
  line-height: 30px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-shadow: 2px 2px 3px #000;
}
@media (max-width: 600px) {
  .header-1-sub .lead {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
	text-shadow: 2px 2px 3px #000;
  }
}
@media (max-width: 480px) {
  .header-1-sub .lead {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
	text-shadow: 2px 2px 3px #000;
  }
}
.header-1-sub .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.header-1-sub .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.header-1-sub .pt-page-current,
.header-1-sub .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.header-1-sub .pt-page-ontop {
  z-index: 999;
}
.header-1-sub .page-transitions * {
  line-height: normal;
}
.header-1-sub .page-transitions .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.header-1-sub .page-transitions .caption {
 /* background-color: rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 200px;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
}
@media (max-width: 480px) {
  .header-1-sub .page-transitions .caption {
    bottom: 83px;
  }
}
.header-1-sub .page-transitions .controls > * {
	position: absolute;
	left: 14px;
	top: 574px;
	z-index: 1000;
	width: 40px;
	overflow: hidden;
	text-decoration: none;
	font-size: 42px;
	color: #7f8c8d;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	-webkit-transition: color 0.25s;
	-moz-transition: color 0.25s;
	-o-transition: color 0.25s;
	transition: color 0.25s;
}
.header-1-sub .page-transitions .controls > *:hover,
.header-1-sub .page-transitions .controls > *:focus,
.header-1-sub .page-transitions .controls > *.active {
  color: rgba(236, 106, 58, 0.9);
}
@media (max-width: 480px) {
  .header-1-sub .page-transitions .controls > * {
    top: 363px;
  }
}
.header-1-sub .page-transitions .controls > *.control-next {
  left: 65px;
}
.header-1-sub .pt-page-1 .background {
  background-image: url('../img/bonopark_1.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-2 .background {
  background-image: url('../img/bonopark_2.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-3 .background {
  background-image: url('../img/bonopark_3.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-4 .background {
  background-image: url('../img/bonopark_4.jpg');
  opacity: 80;
  filter: alpha(opacity=5000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: 50% 30%;
}

/**
 * Content 26 stylesheet  
 * */
.content-26 {
  position: relative;
  padding-top: 0px;
  padding-bottom: 54px;
  text-align: center;
}
.content-26 .lead {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
.content-26 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 26px;
}
.content-26 h4 {
  font-size: 24px;
  font-weight: normal;
  color: #ec6a3a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .content-26 .features {
    margin-top: -52px;
  }
}
.content-26 .features h6 {
  text-transform: none;
  margin-top: 37px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.content-26 .features > * {
/*  margin-top: 67px;*/
  margin-bottom: 50px;
}
.content-27 {
  position: relative;
  padding: 120px 0;
}

.logos {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .logos {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .logos {
    display: none;
  }
}
.logos > .container {
  display: table;
}
.logos > .container > div {
  display: table-cell;
  text-align: center;
}



/* footer */
/**
 * Footer 6 stylesheet  
 * */
.footer-6 {
  padding-top: 110px;
  padding-bottom: 110px;
  color: #7f8c8d;
}
.footer-6 a {
  font-weight: normal;
}
@media (max-width: 480px) {
  .footer-6 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer-6 .brand {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 18px;
}
.footer-6 .brand:hover,
.footer-6 .brand:focus {
  color: #ffffff;
}
.footer-6 h6 {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
@media (max-width: 767px) {
  .footer-6 h6 {
    margin: 0 0 5px;
  }
}
.footer-6 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-6 nav ul li {
  margin-bottom: 8px;
}
.footer-6 nav ul li a {
  color: #ffffff;
}
.footer-6 nav ul li a:hover,
.footer-6 nav ul li a:focus {
  color: #34495e;
}
@media (max-width: 480px) {
  .footer-6 nav h6 {
    margin: 0 0 12px;
  }
}
@media (max-width: 767px) {
  .footer-6 nav {
    *zoom: 1;
  }
  .footer-6 nav:before,
  .footer-6 nav:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-6 nav:after {
    clear: both;
  }
  .footer-6 nav:before,
  .footer-6 nav:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-6 nav:after {
    clear: both;
  }
  .footer-6 nav .col-sm-2 {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .footer-6 nav .col-sm-2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .footer-6 nav {
    margin-bottom: 20px;
  }
}
.footer-6 .input-group {
  margin-bottom: 20px;
}
.footer-6 .input-group input[type="text"] {
  width: 167px;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  -o-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}
@media (min-width: 1200px) {
  .footer-6 .input-group input[type="text"] {
    width: 217px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-6 .input-group input[type="text"] {
    width: 112px;
  }
}
@media (max-width: 767px) {
  .footer-6 .input-group input[type="text"] {
    width: 100%;
  }
}
.footer-6 .input-group input[type="text"]:hover {
  border-color: #cacfd2;
}
.footer-6 .input-group input[type="text"]:focus {
  border-color: #1abc9c;
}
.footer-6 .social-btns {
  white-space: nowrap;
}
.footer-6 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 480px) {
  .footer-6 .social-btns > * {
    margin-top: 15px;
    margin-bottom: 7px;
  }
}
.footer-6 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-6 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-6 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-6 .social-btns > *:hover > * {
  top: -100%;
}
.footer-6 .social-btns .fui-twitter:first-child {
  margin-top: 2px;
}
@media (max-width: 767px) {
  .footer-6 [class*="col-sm-"] {
    margin-top: 15px;
  }
  .footer-6 .row:first-child {
    margin-top: -15px;
  }
}
@media (max-width: 480px) {
  .footer-6 .input-group {
    margin-bottom: 0;
  }
}
.content-4,
.footer-6 {
  padding-top: 50px;
  padding-bottom: 10px;
}

/* footer */
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  line-height: 25px;
}
.footer-2 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #34495e;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-2 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-2 .social-btns > * > *:first-child {
  color: #ffffff;
}
.footer-2 .social-btns > *:hover > * {
  top: -100%;
}
.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
}

/**
 * Content 15 stylesheet 
 ((((((((((  QUE ES 1 )))))))))))))) 
 * */
.content-15 {
  padding-top: 65px;
  padding-bottom: 50px;
  position: relative;
}
.content-15 h3 {
  margin-bottom: 28px;
  font-size: 46px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-15 h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.content-15 h4 {
  margin-bottom: 48px;
  font-size: 46px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}
@media (max-width: 767px) {
  .content-15 h4 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: left;
  }
}
.content-15 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 20px;
}
.content-15 .features {
  margin-top: 60px;
}
.content-15 .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-size: 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15 .features h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-15 .features h6 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
  }
}
.content-15 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features .col-sm-7 img {
  width: 100%;
}
@media (max-width: 767px) {
  .content-15 .features .col-sm-7 {
    text-align: center;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .content-15 .features {
    margin-top: 76px;
  }
}

/**
 * Blog 3 stylesheet 
((((((((((  QUE ES 2 )))))))))))))) 
 * */
.blog-3 {
  padding-top: 70px;
  padding-bottom: 40px;
}
.blog-3 p {
  margin: 0;
}
.blog-3 p + p {
  margin-top: 30px;
}
.blog-3 h6 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 40px 0 25px;
  text-transform: none;
}
.blog-3 .title {
  margin-bottom: 84px;
  text-align: center;
}

@media (max-width: 767px) {
  .content-15 h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.blog-3 h3 {
   margin-bottom: 28px;
  font-size: 46px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
.blog-3  h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.blog-3 .title .submitted {
  font-size: 16px;
  color: #bdc3c7;
  margin-top: 15px;
}
.blog-3 .title img {
  display: block;
  margin: 0 auto 37px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.blog-3 .img {
  height: 380px;
  margin: 110px 0;
  background: url('../../../common-files/img/Brazil_002.png') 50% 80% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .blog-3 .img {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-3 .quote {
  position: relative;
  margin-bottom: 35px;
  font-size: 37px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  letter-spacing: -1px;
  font-weight: 300;
}
.blog-3 .quote:before {
  content: url('../../../common-files/icons/quote-up.png');
  position: absolute;
  top: -17px;
  left: -40px;
}
@media (max-width: 767px) {
  .blog-3 .quote {
    margin-left: 40px;
    font-size: 29px;
    line-height: 38px;
  }
}
.blog-3 .promo {
  margin-bottom: 70px;
}
.blog-3 .links {
  margin-top: 76px;
}
.blog-3 .links,
.blog-3 .links * {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bdc3c7;
}
.blog-3 .links h6 {
  margin: 0 0 23px;
  letter-spacing: 0.19em;
  font-size: 12px;
  font-weight: 500;
}
.blog-3 .links a {
  color: #1abc9c;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.5;
}
.blog-3 .links a:hover,
.blog-3 .links a:focus,
.blog-3 .links a.active {
  color: #15967d;
}

/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  line-height: 25px;
}
.footer-2 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #34495e;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
}

/**
 * Project 2 stylesheet  
 * */
.projects-2 {
  background: #000;
  color: #fff;
}
.projects-2.v-center,
.projects-2 .v-center {
  display: table;
  width: 100%;
}
.projects-2.v-center > div,
.projects-2 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .projects-2.v-center.row:before,
  .projects-2 .v-center.row:before,
  .projects-2.v-center.row:after,
  .projects-2 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .projects-2.v-center,
  .projects-2 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .projects-2.v-center.row,
  .projects-2 .v-center.row {
    display: block;
    width: auto;
  }
  .projects-2.v-center.row:before,
  .projects-2 .v-center.row:before,
  .projects-2.v-center.row:after,
  .projects-2 .v-center.row:after {
    display: none;
  }
  .projects-2.v-center.row > *,
  .projects-2 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.projects-2 .content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
}
.projects-2 .wide-text {
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  display: block;
  margin: 18px 0 0;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  ffont-weight: 500;
}
@media (max-width: 480px) {
  .projects-2 .wide-text {
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
  }
}
.projects-2 .hero-unit {
  display: table;
  border-collapse: collapse;
  padding: 0;
  margin: 0 auto;
  background: transparent;
}
.projects-2 .hero-unit > * {
  display: table-cell;
  vertical-align: middle;
  border: 8px solid #fff;
  padding: 28px 30px;
  text-align: left;
}
.projects-2 .hero-unit h1 {
  margin: 0;
  font-size: 46px;
  font-weight: 700;
}
.projects-2 .hero-unit p {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .projects-2 .hero-unit h1 {
    font-size: 30px;
  }
  .projects-2 .hero-unit p {
    display: none;
  }
}
.projects-2 > * {
  height: 215px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
  opacity: 15;
  filter: alpha(opacity=1500);
  opacity: 0.15;
  filter: alpha(opacity=15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.projects-2 > *:hover {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .projects-2 > * {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.projects-2 .project-1 {
  background-image: url('../img/bonopark_2.jpg');
}
.projects-2 .project-1 .container h1 {
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0px;
  margin-bottom: 12px;
  margin-top: 10px;
}
.projects-2 .project-1 .container p {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  padding-top: 0;
  margin-bottom: 10px;
  line-height: 29.999999999999996px;
}
@media (max-width: 480px) {
  .projects-2 .project-1 .container h1 {
    font-size: 25px;
  }
  .projects-2 .project-1 .container p {
    font-size: 15px;
  }
}
.projects-2 .project-2 {
  background-image: url('../img/bonopark_3.jpg');
}
@media (max-width: 480px) {
  .projects-2 .project-2 .hero-unit h1 {
    font-size: 24px;
  }
}
.projects-2 .project-3 {
  background-image: url('../../../common-files/img/NY_002.png');
}
.projects-2 .project-3 [class*="fui-"] {
  font-size: 95px;
  line-height: 95px;
}
@media (max-width: 767px) {
  .projects-2 {
    padding-left: 0;
    padding-right: 0;
  }
}
/**
 * Price 2 stylesheet  
 * */
.price-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.price-2 .plans {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #e5e5e5;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 45px;
}
.price-2 .plans .plan {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
.price-2 .plans .plan .ribbon {
  position: absolute;
  right: -1px;
  top: 47px;
  z-index: 2;
}
@media (max-width: 991px) {
  .price-2 .plans .plan .ribbon {
    top: 20px;
  }
}
@media (max-width: 767px) {
  .price-2 .plans .plan .ribbon {
    top: 50px;
  }
}
.price-2 .plans .title {
  padding: 55px 0 55px;
  background: #34495e;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative;
}
.price-2 .plans .title .price {
  margin: 10px 0 13px;
  font-size: 100px;
  font-weight: 500;
}
.price-2 .plans .title .price .currency {
  font-size: 24px;
  vertical-align: top;
  position: relative;
  font-weight: 400;
  top: 26px;
  left: -10px;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .price .period {
  font-size: 12px;
  vertical-align: bottom;
  position: relative;
  top: -27px;
  left: 10px;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .btn.btn-clear {
  padding: 6px 12px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  background: transparent;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: 500;
}
.price-2 .plans .title .btn.btn-clear:hover,
.price-2 .plans .title .btn.btn-clear:focus {
  border-color: #fff;
  color: #fff;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.price-2 .plans .title .btn.btn-clear:active,
.price-2 .plans .title .btn.btn-clear.active {
  border-color: #fff;
  color: #fff;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.price-2 .plans .plan:first-child .title {
  margin-left: -3px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.price-2 .plans .plan:last-child .title {
  margin-right: -3px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.price-2 .plans .description {
  padding: 27px 40px;
  font-size: 18px;
  color: #bdc3c7;
}
.price-2 .plans .description b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-2 .plans .description .description-box {
  text-align: center;
  padding: 13px 0;
  border-top: 2px solid #ebedee;
}
.price-2 .plans .description .description-box:first-child {
  border-top: 0;
}
.price-2 .plans .description .description-box [class*="fui-"] {
  margin-right: 18px;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(52, 73, 94, 0.2);
}
.price-2 .plans .plan-2 {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.price-2 .plans .plan-2 .title {
  margin: 0 -2px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  z-index: 3;
}
@media (max-width: 767px) {
  .price-2 .plans {
    display: block;
    width: auto;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .price-2 .plans .plan {
    display: block;
    width: auto;
    border: 0!important;
    margin-top: 50px;
  }
  .price-2 .plans .plan:first-child {
    margin-top: 0;
  }
  .price-2 .plans .title {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    margin: 0!important;
  }
  .price-2 .plans .description {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border: 3px solid #e5e5e5;
    border-top: 0;
  }
  .price-2 .plans .plan-2 .ribbon {
    right: 0;
  }
}
/**
 * Content 15 stylesheet 
 ((((((((((  QUE ES 1 )))))))))))))) 
 * */
.content-15b {
  padding-top: 65px;
  padding-bottom: 50px;
  position: relative;
  background-color: #ecf0f1;
}
.content-15b h3 {
  margin-bottom: 28px;
  font-size: 46px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-15b h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.content-15b h4 {
  margin-bottom: 48px;
  font-size: 46px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 50px;
  text-align: left;
}
@media (max-width: 767px) {
  .content-15b h4 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: left;
  }
}
.content-15b p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 20px;
}
.content-15b .features {
  margin-top: 60px;
}
.content-15b .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-size: 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15b .features h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-15b .features h6 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
  }
}
.content-15b .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15b .features .col-sm-7 img {
  width: 100%;
}
@media (max-width: 767px) {
  .content-15b .features .col-sm-7 {
    text-align: center;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .content-15b .features {
    margin-top: 76px;
  }
}
/**
 * Copntact 5 stylesheet  
 * */
.contacts-5 {
  padding-bottom: 30px;
}
.contacts-5 h6 {
  font-size: 18px;
  text-transform: none;
}
.contacts-5 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-5 a {
  color: #066eb6;
}
.contacts-5 a:hover,
.contacts-5 a:focus,
.contacts-5 a.active {
  color: #15967d;
}
.contacts-5 .map {
  height: 400px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .contacts-5 .map {
    height: 480px;
    margin-bottom: 80px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .contacts-5 .box {
    margin-top: 33px;
  }
  .contacts-5 .box.box-first {
    margin-top: 0;
  }
}
body .delimiter-big {
  margin-top: 110px;
}

/**
 * Copntact 3 stylesheet  
 * */
.contacts-3 form .radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  line-height: 1.5;
}
.contacts-3 .radio .input {
  outline: none !important;
  display: none;
}
.contacts-3 .radio{
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.contacts-3 .checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.contacts-3 .checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}





.contacts-3 {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #ecf0f1;
}
.contacts-3 h3 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 300px;
}
.contacts-3 h6,
.contacts-3 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: none;
}
.contacts-3 label.h6 {
  margin-bottom: 0px;
}
.contacts-3 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-3 a {
  color: #1abc9c;
}
.contacts-3 a:hover,
.contacts-3 a:focus,
.contacts-3 a.active {
  color: #15967d;
}
.contacts-3 form {
  margin: 30px 0 0;
}
.contacts-3 form input,
.contacts-3 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
  border-color: #b0b0b0b0;
  color: #7f8c8d;
}
.contacts-3 form input:focus,
.contacts-3 form textarea:focus {
  border-color: #066eb6;
}
.contacts-3 form input {
  height: 36px;
}
.contacts-3 form label {
  margin-bottom: 18px;
}
.contacts-3 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-3 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-3 form .btn.btn-primary{
  background-color: #066eb6;
}
.contacts-3 form .btn.btn-primary:hover,
.contacts-3 form .btn.btn-primary:focus {
  background-color: #ec6a3a;
}
.contacts-3 form .btn.btn-primary:active,
.contacts-3 form .btn.btn-primary.active {
  background-color: #ec6a3a;
}
.contacts-3 .map {
  height: 255px;
  margin: 35px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-3 .links {
  margin: 20px 0 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ebedee;
}
.contacts-3 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-3 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-3 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-3 form {
    margin-bottom: 80px;
  }
  .contacts-3 form label {
    margin-bottom: 0px;
  }
}

/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 40px;
  padding-bottom: 260px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 0;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .contacts-2 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  color: #34495e;
}
.contacts-2 label.h6 {
  margin-bottom: 2px;
}
.contacts-2 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-2 a {
  color: #1abc9c;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #15967d;
}
.contacts-2 form {
  margin: 0;
  padding: 46px;
  border: 2px solid #dfdfdfd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ecf0f1;
}
.contacts-2b form {
  margin: 0;
  padding: 46px;
  border: 2px solid #999999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #999999;
}
.contacts-2 form input,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #dfdfdfd;
  color: #7f8c8d;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #666666;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 40px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 150px;
  background-color: #066eb6;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background-color: #34495e;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background-color: #34495e;
}
.contacts-2 .map {
  height: 165px;
  margin: 25px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-2 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-2 form {
    margin-bottom: 80px;
    padding: 15px;
  }
  .contacts-2 form label {
    margin-bottom: 0px;
  }
}

