
html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    color: #222222;
    margin: 0;
    padding: 0;
}
article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.7em;
    padding: 0 0 1.7em;
}
h1, h2, h3, h4, h5, h6 {
    color: #362C20;
    letter-spacing: 0;
    padding: 0 0 0.43em;
}
h1, h2, h3 {
    color: #222222;
    font: 140% arial,sans-serif;
    margin: 0 0 1.304em;
    padding: 1.304em 0 0.435em;
}
h2 {
    color: #F67F00;
    font-size: 160%;
    padding: 0.783em 0 0.435em;
}
h3 {
    color: #1985B6;
    font-size: 140%;
    padding: 0.435em 0 0;
}
h4, h6 {
    color: #F67F00;
    font: 150% 'Yanone kaffeesatz',arial,sans-serif;
    padding: 0 0 0.435em;
}
h5, h6 {
    color: #555555;
    font: italic 95% arial,sans-serif;
    letter-spacing: normal;
    padding: 0 0 1.304em;
}
blockquote {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0.1em solid #E5E5DB;
    margin: 1.739em 0;
    padding: 0.87em 1.739em 0;
}
#main {
}
header {
    background: linear-gradient(#1070B0, #1985B6 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0.2em solid #FFFFFF;
    position: relative;
    z-index: 600;
}
nav {
}
nav ul, nav li, nav span, nav a {
    margin: 0;
    padding: 0;
    position: relative;
}
nav ul {
    color: #FFFFFF;
    float: left;
    font-size: 80%;
    left: 0.1em;
    list-style: none outside none;
    margin-left: 0;
    margin-top: 8.9em;
    position: relative;
    z-index: 0;
}
nav li {
    display: list-item;
    float: left;
    list-style: none outside none;
}
nav li > a:hover, nav li:hover > a, nav li > a.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0.8em 0.8em 0 0;
    box-shadow: 0 0 0 0.1em #FFFFFF inset, 0 10.522em 2.609em -10.17em #E3E3E3 inset, 0 -0.17em 0.17em 0.1em rgba(0, 0, 0, 0.07);
    color: #265F98;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.2em;
    padding: 1em 0.15em 1.1em;
    text-decoration: underline;
    text-shadow: none;
}
nav li > a {
    background: none repeat scroll 0 0 #0878B0;
    border-radius: 0.8em 0.8em 0 0;
    box-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.3) inset, 0 -0.435em 0.435em -0.261em rgba(0, 0, 0, 0.2) inset, 0 -20.435em 1.739em -0.87em #3373AF inset, 0 -0.17em 0.17em 0.1em rgba(0, 0, 0, 0.07);
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.2em;
    padding: 1em 0.15em 1.1em;
    text-decoration: none;
    text-shadow: 0 -0.1em 0 #11406E;
}
#menu_container {
}
#site_content {
    background: url("../images/fondo.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
}
.content {
    float: left;
    font-size: 120%;
    margin: 0 0 1.304em;
    padding: 10.348em 0 0;
    text-align: left;
    width: 62.609em;
}
.content ul {
    margin: 0.17em 0 20.17em;
}
.content ul li, .sidebar ul li {
    background: url("../images/bullet.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0.348em 2.435em;
}
footer {
    background: linear-gradient(#1070B0, #1985B6 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 0.2em solid #FFFFFF;
    font: 140% arial,sans-serif;
    height: 2.609em;
    padding: 0.435em 0 0.17em;
    text-align: center;
    text-shadow: 0.1em 0.1em #0D7989;
    width: 100%;
}
footer p {
    color: #FFFFFF;
    line-height: 1.7em;
    padding: 0 0 0.87em;
}
footer a {
    color: #FFFFFF;
    text-decoration: none;
}
footer a:hover {
    color: #444444;
    text-decoration: none;
    text-shadow: none;
}
.form_settings {
}
.form_settings p {
    padding: 0 0 0.5em;
}
.form_settings span {
    float: left;
    text-align: left;
    width: 14em;
}
.form_settings input, .form_settings textarea {
    background: none repeat scroll 0 0 #EFF8FB;
    border: 0.1em solid #1985B6;
    border-radius: 0.8em;
    color: #47433F;
    font: 100% arial;
    padding: 0.3em;
    width: 30em;
}
.form_settings .submit, input[type="button"] {
    background: linear-gradient(#1070B0, #1985B6 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0.1em solid #0D8AA9;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.17em rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    height: 2em;
    margin: 0 0 0 15.2em;
    padding: 0.17em 0.261em;
    text-shadow: 0.1em 0.1em #178497;
    width: 6em;
}
.form_settings textarea {
    height: 15em;
    resize: none;
    text-align: justify;
    width: 30.87em;
}
.form_settings select {
    background: none repeat scroll 0 0 #EFF8FB;
    border: 0.1em inset #1985B6;
    border-radius: 0.2em;
    color: #47433F;
    cursor: default;
    display: inline-block;
    height: 1.6em;
    margin: 0 1em 0 0;
    width: 13em;
}
.form_settings .checkbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0.348em 0;
    padding: 0;
    width: 10.348em;
}
#entidad {
    width: 2.6em;
}
#oficina {
    width: 2.6em;
}
#dc {
    width: 1.5em;
}
#cuenta {
    width: 8em;
}
.separator {
    border-bottom: 0.1em solid #FFFFFF;
    border-top: 0.1em solid #D9D5CF;
    height: 0;
    margin: 0 0 1.739em;
    width: 100%;
}
table {
    margin: auto;
}
table tr th {
    background: none repeat scroll 0 0 #1985B6;
    border-radius: 0.3em;
    color: #FFFFFF;
    padding: 0.609em 0.348em;
}
table tr td {
    background: none repeat scroll 0 0 #D3F2F7;
    border-radius: 0.3em;
    border-top: 0.1em solid #FFFFFF;
    color: #47433F;
    padding: 0.019em 0.348em;
}
ul#nav {
    float: left;
    font-size: 110%;
    margin-top: 0.8%;
}
ul#nav ul {
    background: none repeat scroll 0 0 #0DBBD5;
    margin-top: 0.435em;
    padding-bottom: 1.304em;
}
ul#nav li a {
    color: #FFFFFF;
    font: bold 100% 'Yanone Kaffeesatz',arial,sans-serif;
    margin-right: 0.17em;
    padding: 0.609em 1.739em 0.522em;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #0D7989;
}
ul#nav li a:hover, ul#nav li a:focus {
    color: #222222;
    text-shadow: none;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.nav-id-reg {
    color: #7AAFD6;
    list-style: none outside none;
    position: absolute;
    right: 5em;
    top: 0.5em;
    z-index: 2;
}
.nav-id-reg li {
    float: left;
}
.nav-logged-out > li + li:before {
    content: "|";
    margin: 0 0.2em;
    width: 0.2em;
}
.nav-id-reg > li > a {
    color: #FFFFFF;
    font-size: 0.75em;
    padding: 0.6em;
    text-decoration: none;
    text-shadow: 0 -0.1em 0 #1985B6;
}
.nav-id-reg > li > a:hover {
    color: #FFFFFF;
    font-size: 0.75em;
    padding: 0.6em;
    text-decoration: underline;
    text-shadow: 0 -0.1em 0 #1985B6;
}
.brand {
    float: left;
    height: 15em;
    margin: 0 2.609em 0 0;
}
.header-contenido {
    margin: 0 auto;
    position: relative;
    width: 70em;
}
.logo_container {
    float: left;
    height: 9em;
    margin: 0 2em 0 0;
}
#pagina {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0.5em;
    margin: 0 auto;
    padding-bottom: 1em;
    width: 60em;
}
img {
    border: medium none;
}
#header-wrapper {
}
#header {
    min-height: 200.435em;
    overflow: hidden;
    position: relative;
}
#logo {
    height: 14em;
    overflow: hidden;
}
#logo h1 a {
    color: #FFFFFF;
    display: block;
    font-family: 'Oswald',sans-serif;
    font-size: 44pt;
    font-weight: 200;
    letter-spacing: -0.1em;
    padding: 2.609em 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: -0.1em -0.1em 0 #2C7485;
    text-transform: uppercase;
}
#logo p {
    color: #A5D0F2;
    font-family: 'Abel',sans-serif;
    font-size: 18pt;
    letter-spacing: -0.1em;
    padding: 0.87em 0 0;
    text-align: center;
    text-shadow: -0.1em -0.1em 0 #388ACA;
}
#menu-wrapper {
    background: url("images/img05.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
}
#menu {
    height: 7.826em;
}
#menu ul {
    text-align: center;
}
#menu li {
    display: inline-block;
    padding: 1.304em 1.739em;
}
#menu a {
    color: #16576B;
    display: block;
    float: left;
    font-family: 'Abel',sans-serif;
    font-size: 13pt;
    margin-right: 0.17em;
    text-decoration: none;
    text-transform: uppercase;
}
#menu .current_page_item {
    background: url("images/img01.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0.435em solid #437BA7;
    color: #FFFFFF;
    text-shadow: -0.1em -0.1em 0 #2C7485;
}
#menu .current_page_item a {
    color: #FFFFFF;
}
#menu a:hover {
}
#banner {
    overflow: hidden;
    padding: 0 2.609em 2.609em;
}
#banner a img {
    display: block;
    width: 100%;
}
#content {
    margin: 0 3em 1em;
    padding: 0;
    text-align: justify;
}
.column2 #content {
    padding: 0 2.609em 0 0;
}
#content h2 {
    color: #1985B6;
    font-size: 30pt;
    letter-spacing: -0.05em;
    text-shadow: 0.02em 0.02em #000000;
    text-transform: uppercase;
}
#content .subtitle {
    color: #00A6FA;
    font-family: 'Oswald',sans-serif;
    font-size: 16pt;
    font-weight: 300;
    padding: 0 0 2.609em;
    text-transform: uppercase;
}
.sidebar {
    background: none repeat scroll 0 0 #1985B6;
    border: 0.1em solid #444444;
    border-radius: 1em;
    float: right;
    margin: 0 0.2em 0 1.5em;
    opacity: 0.9;
    padding: 0 1.01em 0.4em 1em;
    width: 20%;
}
.sidebar h3 {
    color: #FFFFFF;
    font-size: 180%;
    margin: 0.2em 0.1em;
    padding: 0;
    text-shadow: 0.1em 0.1em #000000;
}
.sidebar > a {
    color: #FFFFFF;
    font-size: 1em;
    padding: 1em 1.1em 1em 0;
    text-decoration: none;
    text-shadow: 0 -0.1em 0 #1985B6;
}
.sidebar > a:hover {
    color: #FFFFFF;
    font-size: 1em;
    padding: 1em 1.1em 1em 0;
    text-decoration: underline;
    text-shadow: 0 -0.1em 0 #1985B6;
}
.sidebar > h5 {
    padding: 0;
}
.sidebar > h4 {
    padding: 1.8em 0 0;
}
.sub-nav {
    background-color: #FFFFFF;
    border: 0.1em solid #CCCCCC;
    box-shadow: 0 0.17em 0.17em rgba(0, 0, 0, 0.2), 0 0.261em 0.17em -0.17em rgba(0, 0, 0, 0.3);
    color: #333333;
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0.261em 0;
    position: absolute;
    transition: opacity 200ms ease 100ms;
    white-space: nowrap;
}
.sub-nav:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-style: solid;
    border-width: 0.6em;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -1.2em;
}
.sub-nav > li > a, .sub-nav > li > a:hover {
    color: #333333;
    cursor: pointer;
    display: block;
    padding: 0.348em 1.739em 0.348em 0.87em;
    text-decoration: none;
}
.sub-nav > li > a:hover {
    background-color: #E3F4FF;
}
.utility-trigger:after {
    border-color: #9DC0E2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0.348em;
    content: "";
    display: inline-block;
    margin: 0 0 -0.17em 0.348em;
}
.sub-nav2 {
    background-color: #FFFFFF;
    border-top: medium none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #333333;
    display: none;
    float: left;
    font-size: 100%;
    list-style: none outside none;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    transition: opacity 200ms ease 100ms;
    white-space: nowrap;
    z-index: 0;
}
.sub-nav2 li {
    float: none;
}
nav li:hover > ul {
    display: block;
}
.sub-nav2 > li > a, .sub-nav2 > li > a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    color: #222222;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    margin-right: 0;
    padding: 1em 1.739em 0.348em 0.87em;
    text-decoration: none;
    text-shadow: none;
}
.sub-nav2 > li > a:hover {
    background-color: #E3F4FF;
}
nav > ul > li {
    float: left;
}
.centrado {
    font-weight: bold;
    text-align: center;
}
.texto_lista li {
    background: url("../images/bullet.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 1.5em;
    list-style-type: none;
    margin-left: 2em;
    padding: 0 0 0.6em 3em;
}
.mapa_contacto {
    border: 1px solid #C8C8C8;
    height: 32em;
    margin: 0 20em;
    width: 32em;
}
.mapa_contacto iframe {
    height: 32em;
    width: 32em;
}
#infContacto {
    float: left;
}
#olvide_pwd {
    color: #1985B6;
    font-size: 0.8em;
    padding-left: 17.5em;
}
.mensaje {
    border: 0.2em solid #DD2222;
    border-radius: 0.5em;
    color: #1985B6;
    margin-bottom: 2em;
    padding: 1em;
    width: 70%;
}
.mensajeok {
    border: 0.2em solid #22DD22;
}
.mensaje_club {
    margin: auto;
}
.mensaje p {
    padding: 0;
}
.pregunta {
    font-weight: bold;
}
.condiciones {
    margin: 1em 0 1em 13em;
}
.condiciones li {
    background: url("../images/bullet.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 1.2em;
    list-style-type: none;
    padding: 0 0 0.6em 2em;
}
#button, .button {
    background: linear-gradient(#1070B0, #1985B6 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0.1em solid #0D8AA9;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.17em rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    height: 2em;
    margin: 0 0 0 2em;
    padding: 0.37em 1em 0.261em;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #178497;
    width: 6em;
}
.form_settings .desactivado {
    background: none repeat scroll 0 0 threedface;
}
.seleccion_fila:hover td {
    background-color: #2999D9;
    cursor: pointer;
}
.detailsRightColumn {
    float: right;
    width: 65%;
}
.detailsBox {
    background: url("images/details-box-bg.png") repeat-x scroll 0 0 #EEEEEE;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 7px;
    position: relative;
}
.detailsLeftColumn {
    float: left;
    width: 30%;
}
.detailsBoxDivider {
    border-top: 0.2em solid #D8D8D8;
    height: 0.9em;
    margin-top: 0.9em;
    position: relative;
}
.detallesRuta {
    color: #2D2D2D;
    font-size: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 2em;
}
.detallesRuta td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    border-top: 0 none;
    padding: 0.609em 0.188em;
}
.mapaRecorrido {
    border: 1px solid #C8C8C8;
    height: 40em;
    margin: auto;
    width: 40em;
}
.detalles {
    color: #686868;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: -4.2em;
    padding-bottom: 3em;
    padding-left: 1em;
}
.tituloCajaRecorrido {
    padding-left: 1.8em;
    padding-top: 0.2em;
}
.tituloIconoMapa {
    background: url("../images/icono_mapa.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.error {
    color: #FF0000;
}
.errorblock {
    background-color: #FFEEEE;
    border: 0.3em solid #FF0000;
    color: #000000;
    margin: 2em;
    padding: 1em;
    width: 70%;
}
.ofertas-inicio-cupon {
    float: left;
    height: 15em;
    padding: 1em;
    width: 30em;
}
.ofertatitulo_new_home {
    color: #99A324;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
    width: 14em;
}
#oferta_texto_new_home a:link {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #1985B6;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
}
#oferta_texto_new_home {
    float: left;
    height: 10em;
    padding: 0 0.6em;
    width: 14em;
}
#oferta_cabecera {
    float: left;
    height: 0.9em;
    margin: 0;
    padding: 0.7em 1em 0 0.9em;
    width: 28em;
}
.fondo_oferta {
    background-image: url("../images/degradado.jpg");
}
#oferta_imagen_new_home {
    height: 11em;
    margin: 0.2em 0 0 0.6em;
    position: absolute;
    width: 16em;
    z-index: 200;
}
#oferta_izquierda_new_home {
    float: left;
    height: 11em;
    margin: 0;
    padding: 0 1em 0 0;
    width: 35%;
}
#oferta_boton {
    margin: 7em 0 0 0.4em;
    position: absolute;
    width: 9em;
    z-index: 200;
}
#oferta_ribbon {
    float: left;
    height: 6em;
    margin: 0;
    width: 6em;
}
#oferta {
    color: #AA9C91;
    float: left;
    height: 12em;
    margin: 0;
    width: 30em;
}
.oferta_border1 {
    border-color: #9B8B7E;
    border-style: solid;
    border-width: 0.2em;
}
.ofertacabecera {
    color: #AA9C91;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1.1em;
    font-style: normal;
    line-height: 0.2em;
    text-decoration: none;
}
#oferta_cabecera a:link {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
}
.oferta_ribbon_euro_numero_small_new_home {
    color: #080100;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    height: 2em;
    margin: 0 -2.5em 0.2em;
    position: absolute;
    text-align: right;
    width: 4em;
    z-index: 201;
}
.oferta_ribbon_euro_small_new_home {
    background-image: url("../images/precio_oferta.png");
    background-repeat: no-repeat;
    height: 3em;
    margin: 0.9em 0 0 -0.8em;
    position: absolute;
    width: 7em;
    z-index: 201;
}
.oferta_ribbon_2x1_small_new_home {
    background-image: url("../images/2x1_oferta.png");
    background-repeat: no-repeat;
    height: 3em;
    margin: 0.9em 0 0 -0.8em;
    position: absolute;
    width: 7em;
    z-index: 201;
}
.oferta_ribbon_2x1_numero_small_new_home {
    color: #080100;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    height: 2em;
    margin: 0 -2.2em 0.2em;
    position: absolute;
    text-align: right;
    width: 4em;
    z-index: 201;
}
.lista_noticias {
    list-style: none outside none;
}
.lista_noticias > li {
    font-weight: bold;
}
.lista_noticias > li > h4 {
    margin: 0.2em 0 2em;
}
.lista_noticias > li > h4 > a {
    color: #1985B6;
    text-decoration: none;
}
.lista_noticias > li > h4 > a:hover {
    color: #F67F00;
    text-decoration: underline;
}
#select_fac {
    margin: 0.5em 1em 0 15.5em;
}
#importe {
    width: 12.5em;
}
.concepto_fac {
    margin: 2em 0 0;
}
.datos_factura {
    border: medium solid;
    margin: 0 2em;
    padding: 1em;
    width: 20em;
}
.tabla_conceptos_factura {
    border: medium solid;
    margin: 2em;
}
.tabla_conceptos_factura tr th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0.03em solid;
    border-radius: 0;
    border-width: 0.03em;
    color: #000000;
    padding: 0;
    text-align: left;
    width: 25em;
}
.tabla_conceptos_factura tr td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 2em;
}
.imagen_texto {
    float: right;
    margin-left: 2em;
}
#maps_window_info {
    height: 8em;
    width: 18em;
}
.imagen_base {
    margin-left: 7.5em;
}
.imagen_bici {
    margin-left: 2em;
}
.social {
    color: #7AAFD6;
    list-style: none outside none;
    margin-right: 5em;
    position: absolute;
    right: 5em;
    top: 0.5em;
    z-index: 2;
}
.direccion_cabecera {
    color: #FFFFFF;
    font-size: 0.8em;
    padding-top: 0.2em;
}
